/target
/.vscode
/log.txt
/battery-report.html
/log0.txt
/log1.txt
/log2.txt
/log3.txt
/log4.txt
/log5.txt
/log6.txt
/log7.txt
/log8.txt
/log9.txt
/log10.txt
/log11.txt
/log12.txt
/log13.txt
/log14.txt
/log15.txt
/log16.txt
/log17.txt
/log18.txt
/log19.txt
/log20.txt
/log21.txt
/log22.txt
/log23.txt
/log24.txt
/log25.txt
/log26.txt
/log27.txt
/log28.txt
/log29.txt
/log30.txt
/log31.txt
/log32.txt
/log33.txt
/log34.txt
/log35.txt
/log36.txt
/log37.txt
/log38.txt
/log39.txt
/log40.txt
/log41.txt
/log42.txt
/log43.txt
/log44.txt
/log45.txt
/log46.txt
/log47.txt
/log48.txt
/log49.txt